/*MUG corporate design colors:*/
:root {
    --dark-green: #007934;
    --light-green: #34b233;
    --main-orange: #ff7f45;
    /*Dark to lighter tones of grey.*/
    --grey-1: #393b41;
    --grey-2: #6b6d74;
    --grey-3: #94959a;
    --grey-4: #bfc0c2;
    --grey-5: #dbdce0;
}

body {
    background-color: white;
    font-family: 'andale mono', monospace;
}
.login_form {
    margin: auto;
    width: 50%;
    text-align: center;
}
.login_form label, .s3_form label {
    display: block;
    margin: 10px 0 10px 0;
}
.login_form button, .s3_form button {
    display: block;
    margin: 20px auto 0 auto;
    background: var(--light-green);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 4px 4px 4px 4px;
    font-size: 14px;
}
.login_form button:hover, .s3_form button:hover {
    box-shadow: 0 0 3px 2px var(--dark-green);
    transition: .1s;
}
.login_form input, .s3_form input[type=text] {
    box-shadow: 0 0 2px 2px var(--grey-5);
    border-radius: 2px;
    border: none;
}
.login_form input:hover, .s3_form input[type=text]:hover {
    box-shadow: 0 0 1px 2px var(--light-green);
    transition: .4s;
}
input:focus {outline:none;}
.login_form input:focus, .s3_form input[type=text]:focus, .S3_Filebrowser_UI button:focus {
    /*border: 1px solid var(--dark-green);*/
    box-shadow: 0 0 3px 3px var(--light-green);
    transition: .1s;
}
.s3_form {
    width: 80%;
    margin:auto;
    text-align: center;
}
.S3_Filebrowser_UI {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-top: 1em;
}
.S3_Filebrowser_UI button {
    padding: .25em .3em .25em .3em;
    transition: .4s;
    background: white;
    border-radius: 2px;
    border: 1px solid var(--grey-5);
    color: black;
    width: 150px;
    height: 100px;
    margin: .5em auto .5em auto;
    position: relative;
}
.S3_UI_Button_Inner {
    margin: .5em .5em .5em .5em;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow-wrap: break-word;
    line-height: 1.2em;
    max-height: 85px;
}
.Filepick_UI_Header {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}
.S3_UI_NavBar, .S3_UI_Messages {
    align-self: flex-start;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: -10px auto auto auto;
    flex-wrap: wrap;
}
.S3_UI_NavBar button, .S3_UI_Messages p {
    margin-left: 10%;
}
.S3_UI_NavBar button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background: var(--light-green);
    color: white;
}
.S3_UI_NavBar img {
    margin-right: .25em;
}
.S3_Filebrowser_UI button:hover:not(:focus) {
    box-shadow: 0 0 1px 2px var(--light-green);
    transition: .2s;
}
